<div class="container">
	<ul class="timeline">
		<li>
			<div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Planiranje in postavitev mesečnega programa aktivnosti</h4>
				</div>
				<div class="timeline-body">
					<p>Po opravljenem dogovarjanju z izvajalci aktivnosti sledi vpis podatkov o posamezni aktivnosti v mesečni program. Na
						osnovi teh podatkov se pripravi dokumente o zasedenosti kapacitet.</p>

				</div>
				
				<small class="text-muted"><i class="glyphicon glyphicon-time"></i> Status plana za tekoči mesec: <b>v pripravi</b></small>
				<div class="dropdown pull-right">
					<button class="btn btn-link dropdown-toggle btn-xs pull-right" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">  <i class="glyphicon glyphicon-calendar"></i><span class="caret"></span>
            		</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a [routerLink]="['/schedule/month']">Mesečni pregled</a></li>
						<li><a [routerLink]="['/schedule/agendaWeek']">Tedenski pregled</a></li>
						<li><a [routerLink]="['/schedule/agendaDay']">Danes</a></li>
						<li role="separator" class="divider"></li>
						<li><a [routerLink]="['/schedule']">Vnos aktivnosti v program</a></li>
					</ul>
				</div>

			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Priprava aktivnosti</h4>
				</div>
				<div class="timeline-body">
					<p>Priprava aktivnosti temelji na potrjenem programu, ki ga je potrebno prenesti v javnost. Ta faza vključuje pripravo
						dokumentov, ki gredo v medije in publikacije, spremljanje prijav in pripravo dogodka (učilnice in opreme).</p>
				</div>

				<div class="dropdown pull-left">
					<button class="btn btn-link dropdown-toggle btn-xs" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">  <i class="glyphicon glyphicon-check"></i><span class="caret"></span>
            </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a href="#">Prijava udeleženca</a></li>
						<li><a href="#">Priprava obvestil</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Priprava prostorov</a></li>
					</ul>
					<small class="text-muted"><i class="glyphicon glyphicon-equalizer"></i> Prihaja <b>75</b> udeležencev na <b>8</b> aktivnosti v prihodnjih treh dneh, pripravi <b>5</b> prostorov</small>

				</div>

			</div>
		</li>
		<li>
			<div class="timeline-badge danger"><i class="glyphicon glyphicon-copy"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Spremljanje aktivnosti</h4>
				</div>
				<div class="timeline-body">
					<p>Spremljanje aktivnosti vključuje zajem podatkov o udeležencih, evidentiranje prisotnosti udeležencev, dokumentiranje
						in asistiranje v dogodkih samih.</p>
				</div>

				<div class="btn-group pull-right">
					<button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-copy"></i> <span class="caret"></span>
                </button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Priprava liste udeležencev</a></li>
						<!--li class="divider"></li>
						<li><a href="#">Separated link</a></li-->
					</ul>
				</div>

			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-badge success"><i class="fa fa-pie-chart"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Obravnava podatkov</h4>
				</div>
				<div class="timeline-body">
					<p>Obravnava podatkov vključuje različne statistične obdelave, ki črpajo iz predhodnih registracij aktivnosti. Drugo pa
						so obravnave na višji ravni, ko na osnovi zgodovinskih podatkov gradimo akcije s pomočjo znanja o navadah in interesih
						udeležencev.
					</p>
				</div>

				<div class="dropup pull-left">
					<button class="btn btn-link dropdown-toggle btn-xs" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">  <i class="fa fa-pie-chart"></i><!--span class="caret"></span-->
            </button>
					<!--ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul-->
				</div>

			</div>
		</li>
	</ul>
</div>