<div class="container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading table-bordered">

			<!-- Form title -->
			<form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete">
			</form-title>
		</div>

		<div class="panel-body">
			<form class="form-horizontal" [formGroup]="form">
				<fieldset>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="firstname">{{formLabels?.firstname?.name}}</label>
						<div class="col-md-3">
							<input formControlName="firstname" type="text" placeholder="{{formLabels?.firstname?.placeholder}}" class="form-control input-md">
							<span *ngIf="!isDelete" class="help-block">{{formLabels?.firstname?.help}}</span>
							<div *ngIf="form.controls['firstname'].hasError('required') && form.controls['firstname'].touched" class="text-warning">{{formTitles?.required}}</div>
						</div>

						<label class="col-md-1 control-label" for="lastname">{{formLabels?.lastname?.name}}</label>
						<div class="col-md-4">
							<input formControlName="lastname" type="text" placeholder="{{formLabels?.lastname?.placeholder}}" class="form-control input-md">
							<span *ngIf="!isDelete" class="help-block">{{formLabels?.lastname?.help}}</span>
							<div *ngIf="form.controls['lastname'].hasError('required') && form.controls['lastname'].touched" class="text-warning">{{formTitles?.required}}</div>
						</div>
					</div>


					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="birthdate">{{formLabels?.birthdate?.name}}</label>
						<div class="col-md-4">
							<datetime [datepicker]="datepickerOpts" [timepicker]="false" name="birthdate" formControlName="birthdate">
							</datetime>
							<span class="help-block">{{formLabels?.birthdate?.help}}</span>
						</div>
					</div>

					<hr>

					<fieldset>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-2 control-label" for="mobileNumber">{{formLabels?.mobileNumber?.name}}</label>
							<div class="col-md-3">
								<input formControlName="mobileNumber" type="text" placeholder="{{formLabels?.mobileNumber?.placeholder}}" class="form-control input-md">
								<span *ngIf="!isDelete" class="help-block">{{formLabels?.mobileNumber?.help}}</span>
							</div>

							<label class="col-md-1 control-label" for="email">{{formLabels?.email?.name}}</label>
							<div class="col-md-4">
								<input formControlName="email" type="text" placeholder="{{formLabels?.email?.placeholder}}" class="form-control input-md">
								<span *ngIf="!isDelete" class="help-block">{{formLabels?.email?.help}}</span>
								<div *ngIf="form.controls.email.hasError('email') && form.controls.email.touched" class="text-warning">{{formTitles?.email}}</div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-2 control-label" for="address">{{formLabels?.address?.name}}</label>
							<div class="col-md-3">
								<input formControlName="address" type="text" placeholder="{{formLabels?.address?.placeholder}}" class="form-control input-md">
								<span *ngIf="!isDelete" class="help-block">{{formLabels?.address?.help}}</span>
							</div>

						</div>
					</fieldset>

					<fieldset>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-2 control-label" for="commune">{{formLabels?.commune?.name}}</label>
							<div class="col-md-3">
								<input formControlName="commune" type="text" placeholder="{{formLabels?.commune?.placeholder}}" class="form-control input-md">
								<span *ngIf="!isDelete" class="help-block">{{formLabels?.commune?.help}}</span>
							</div>

							<label class="col-md-1 control-label" for="post">{{formLabels?.post?.name}}</label>
							<div class="col-md-4">
								<input formControlName="post" type="text" placeholder="{{formLabels?.post?.placeholder}}" class="form-control input-md">
								<span *ngIf="!isDelete" class="help-block">{{formLabels?.post?.help}}</span>
								<div *ngIf="form.controls.post.hasError('post') && form.controls.post.touched" class="text-warning">{{formTitles?.post}}</div>
							</div>
						</div>
					</fieldset>

					<!-- Text input-->
						<div class="form-group">
							<label class="col-md-2 control-label" for="citizenship">{{formLabels?.citizenship?.name}}</label>
							<div class="col-md-3">
								<ng-select [allowClear]="true"
              						[items]="citItems"
              						[disabled]="false"
              						(data)="refreshValue($event)"
              						placeholder="{{formLabels?.citizenship?.placeholder}}">
  								</ng-select>
							</div>
						</div>

					
				
					<!-- Form buttons -->
					<form-button [form]="form" [formTitles]="formTitles" [isDelete]="isDelete" (onBack)="back()" (onSave)="save(form.value)"
						(onDelete)="delete(form.value)">
					</form-button>

				</fieldset>
			</form>
		</div>
	</div>
</div>
<pre>{{form.value | json}}</pre><!--
<pre>{{formLabels | json }} {{form.controls.address.controls.email.hasError('email') | json}}</pre-->
<pre>{{emails | json}}</pre>
<pre>{{data | json}}</pre>